/* left sidebar */
#simple-treeview {
    display: inline-block;
    position: fixed;
    overflow-y: scroll;
    background-color: #eee;
}

/* search box */
.dx-texteditor-input {
	background: #fff;
	border-radius: 0px;
}

/* right panel */
#band-details {
    display: inline-block;
    position: fixed;
    margin-left: 320px;
}

/* band and song name */
#band-details > .name {
    text-align: left;
    font-size: 20px;
}

/* tab window */
object {
	width:1000px;
    height:95vh;
}

/* hides right pane when nothing is selected */
.hidden {
    visibility: hidden;
}